<div class="bar">
  <div class="search_form">
    <a href='#' class="main_title">Reminder</a>
    <input type="text" name="search" autocomplete="off" id="search_box" maxlength="400" autofocus>
  </div>
</div>

<div class='container'>
  <div class='answers_box' id='op_element'>
    <div class='contacts_title'>
      <span class='contacts_title_name'>
        Name
      </span>
      <span class='contacts_title_last_contact'>
        Last contact
      </span>
    </div>
  </div>
  <hr class='answers_box'>
  <ul id='sortable'>
    <% @to_draw_array.each do |c| %>
      <li> 
        <div class=<%= "contact_container_#{c['color']}" %> id=<%= "#{c['id']}" %>>
          <div class="name_container">
            <div class="contact_name" id=<%= "contact_name_#{c['id']}" %>><%= c['name'] %></div>
            <div class="contact_edit" id=<%= "contact_edit_#{c['id']}" %>>
              <%= image_tag "edit.png" %>
            </div>
            <div class="contact_delete" id=<%= "contact_delete_#{c['id']}" %>>
              <%= image_tag "no.png" %>
            </div>
          </div>
          <div class="contact_date_diff">
            <div class="contact_update" id=<%= "contact_update_#{c['id']}" %>>
              <%= image_tag "update.png" %>
            </div>
            <%= c['date'] %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <hr class='answers_box'>
</div>
<div class='addnew'>
  <div id='addnew_form'>
    <input type='text' class='answers_box_addnew' maxlength='28'>
    <input type='submit' id='add_new_button' value='Add new' class='button'>
  </div>
</div>
